---
import Lobby from '../components/Lobby.svelte'
---

<div class="flex flex-col items-center gap-1 justify-center h-screen">
  <h1 class="text-2xl text-center mb-8">Multiplayer Suika Game</h1>
  <Lobby client:load />
</div>
